.MainContainer {
    margin-top: 100px;

    display: flex;
    padding: 4% 10%;
    width: 100%;
    box-sizing: border-box;
}

.Bookmarked {
    color: #c76e09;
}

.PlayerSection {
    width: 70%;
}

.PlaylistSection {
    width: 30%;
    border-left: 1px solid #ccc;
    padding: 0 16px;
}